.git
node_modules
vendor
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
tests
.env
.env.backup
deploy/.env.production
deploy/.env.deploy
.phpunit.result.cache
bootstrap/cache/*.php
